// Place all the styles related to the question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.score{
  float:right;
  padding: 20px 30px;
  font-size: 24px;
}

.highlight{
  background-color: darkgray !important;
  font-weight: bold;
}

.dialog{
  display: none;
  width: auto;
  text-align: center;
  p{
    padding: 20px 0
  }
  img{
    width: 400px
  }
}

.answer{
  margin: 10px
}

.ui-dialog-titlebar{
  display:none
}