<!DOCTYPE html>
<html>
<head>
  <title>DisasterRescueGame</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="container">
    <section class="st-panel" id="st-panel-1">
      <div class="st-deco" data-icon="H"></div>
      <h2>Bangal</h2>
      <p>Bangal is prone to Annual Flooding.</p><br>
    </section>
    <%= yield %>
  </div>
</div>

</body>
</html>
